<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/css/sheet.css" rel="stylesheet">
</head>
<body>
{{template "nav.gohtml" .}}

</body>
</html>